<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="Local" connectionString="DataDir = ~\Data"/>
    </connectionStrings>
    <appSettings>
        <add key="host" value="localhost"/>
        <add key="port" value="9997"/>
        <add key="nick" value="Alfred"/>
        <add key="channel" value="#test"/>
        <add key="feed" value="http://localhost/feed.xml"/>
        <add key="AWSKey" value="myKey" />
        <add key="AWSSecret" value="mySecret" />
        <add key="defaultElb" value="SometaroProd" />
    </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>