<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="host" value="localhost"/>
    <add key="port" value="6667"/>
    <add key="nick" value="Alfred"/>
    <add key="channel" value="#botnet"/>
    <add key="feed" value="http://localhost/feed.xml"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>